In [1]:
from flask import Flask, request, jsonify, render_template
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
import pickle as pkl
import psycopg2
from sqlalchemy import create_engine
from datetime import datetime

In [21]:
import requests

url = "https://iris-model-api-62w3-dev.fl0.io/v0/get_logs"

payload = {}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload).json()
df = pd.DataFrame.from_dict(response)

In [22]:
df

,petal length,petal width,sepal length,sepal width,time,type
0,6.0,6.0,5.0,3.0,2023-09-09 16:48:51.668160,virginica
1,3.0,3.0,4.0,3.0,2023-09-09 16:50:06.754421,virginica
2,2.0,1.0,3.0,2.0,2023-09-09 16:56:49.649670,setosa
3,1.0,2.0,4.0,5.0,2023-09-09 16:57:32.556886,setosa
4,1.0,1.0,2.0,3.0,2023-09-09 17:02:15.960360,setosa
5,1.0,2.0,4.0,5.0,2023-09-09 17:35:26.951468,setosa
6,3.0,1.0,1.0,2.0,2023-09-10 10:09:16.732815,versicolor

In [11]:
app = Flask(__name__)

# Crea una conexiÃ³n a la base de datos
engine = create_engine('postgresql://postgres:admin123@iris-model.cbne5hhkognj.eu-central-1.rds.amazonaws.com/postgres?')

@app.route("/v0/table", methods=["GET", "POST"])
def get_table():
    url = "https://iris-model-api-62w3-dev.fl0.io/v0/get_logs"

    payload = {}
    headers = {}

    response = requests.request("GET", url, headers=headers, data=payload)

    return jsonify(response.text)

In [23]:
render_template??

Signature:
render_template(
    template_name_or_list: 'str | Template | list[str | Template]',
    **context: 't.Any',
) -> 'str'
Source:
def render_template(
    template_name_or_list: str | Template | list[str | Template],
    **context: t.Any,
) -> str:
    """Render a template by name with the given context.

    :param template_name_or_list: The name of the template to render. If
        a list is given, the first name to exist will be rendered.
    :param context: The variables to make available in the template.
    """
    app = current_app._get_current_object()  # type: ignore[attr-defined]
    template = app.jinja_env.get_or_select_template(template_name_or_list)
    return _render(app, template, context)
File:      c:\users\gaman\anaconda3\envs\api_env\lib\site-packages\flask\templating.py
Type:      function

In [33]:
titles = {
    'index':'',
'sepal length': '',
'sepal width' :  '',
'petal length': '',
'petal width' :  '',
'type' : '',
'time' : ''
}
titles = pd.DataFrame.from_dict(titles, orient='index').T

In [34]:
titles

  index sepal length sepal width petal length petal width type time
0